---
const { chartName } = Astro.props;
---

<div>
  <div class="absolute">
    <div
      class="cursor-pointer w-[98vw] pr-1 flex justify-end relative top-4 z-10 px-5 gap-6"
    >
      <div>
        <button
          class="rounded-md border-2 border-blue-800"
          onclick={`convertSpectrumDraws('${chartName}')`}
        >
          <img src="/icons/convert.svg" alt="" class="w-8" />
        </button>
      </div>
      <div>
        <button
          class="rounded-md border-2 border-blue-800"
          onclick={`toggleCustomPopoverSpectrum('${chartName}')`}
          id="popoverButton"
        >
          <img src="/icons/bands.svg" alt="" class="w-8" />
        </button>
        <!-- Popover -->
        <div
          id={`customPopoverSpectrum_${chartName}`}
          class="absolute right-0 mt-2 top-4 w-48 p-4 bg-white rounded-lg shadow-lg border border-gray-200 z-20 hidden"
        >
          <div id={`popoverSpectrumContent_${chartName}`}></div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #popover {
    position: absolute;
    z-index: 10;
    display: none;
  }

  #popover.visible {
    display: block;
  }
</style>
<script is:inline>
  function adjustPopoverPosition() {
    const rect = popover.getBoundingClientRect();
    const viewportWidth = window.innerWidth;

    if (rect.right > viewportWidth) {
      // Si el popover se sale de la pantalla, moverlo hacia la izquierda
      popover.style.left = `${viewportWidth - rect.width - 30}px`;
    } else {
      // Restablecer posición si no se sale
      popover.style.left = "";
    }
  }
  function toggleCustomPopoverSpectrum(chartName) {
    if (!CHARTS[chartName]) {
      alert("First, draw the chart");
      return;
    }

    const popover = document.getElementById(
      `customPopoverSpectrum_${chartName}`,
    );
    popover.classList.toggle("hidden");
    adjustPopoverPosition();

    let charts_y = CHARTS[chartName].chart.data.map((d) => d.y);

    const overall = calculateOverall(charts_y);

    // Mostrar los valores en el popover
    const popoverContent = document.getElementById(
      `popoverSpectrumContent_${chartName}`,
    );
    popoverContent.innerHTML = `
    <p>Overall: ${overall}</p>
    `;
    charts_y = [];
  }

  function convertSpectrumDraws(chartName) {
    showLoading();
    let mawoisStore = localStorage.getItem("mawoisWithCollectData") || "[]";
    mawoisStore = JSON.parse(mawoisStore);
    if (mawoisStore.length == 0) {
      hideLoading();
      alert("Please draw the mawoi");
      return;
    }

    const mawoiStore = mawoisStore.find(
      (mawoi) => mawoi.id == MAWOI_SELECTED.id,
    );
    if (!mawoiStore) {
      hideLoading();
      alert("Please draw the mawoi");
      return;
    }

    const pointSelected = document.getElementById("point-select").value;
    const dateSelected = document.getElementById("date-collect").value;

    const pointStore = mawoiStore.points.find(
      (point) => point.id == pointSelected && point.date == dateSelected,
    );

    if (!pointStore) {
      hideLoading();
      alert("Please draw the point");
      return;
    }

    if (!CHARTS[chartName]) {
      hideLoading();
      alert("First, draw the chart");
      return;
    }

    UNIT_S++;

    if (UNIT_S > 3) {
      UNIT_S = 1;
    }

    if (UNIT_S == 2) {
      pointStore[chartName] = spectraVelocity(pointStore[chartName]);
    } else if (UNIT_S == 3) {
      pointStore[chartName] = spectraDisplacement(pointStore[chartName]);
    }

    drawSimpleClear(chartName);
    drawAxios(chartName, pointStore);
    hideLoading();
  }
</script>
